.searchContainer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 1rem;
    padding: .3rem;
    height: 30px;
    border-radius: 1rem;

}
.searchContainer:focus {
    border: 1px solid white;
}
.inputContainer {
    width: 75%;
    background-color: rgb(231, 231, 231);
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
.input {
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
    border: none;
    height: 30px;
    border-radius: 1rem;
    width: 100%;
}
.input:focus {
    outline:none;
}
.searchicon {
    height: 21px;
    width: 21px;
    margin-left: .5rem;
}

@media screen and (min-width: 750px){
    .reelContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .inputContainer {
        width: 65%;
    }
}
@media screen and (min-width: 1000px) {
    .inputContainer {
        width: 50%;
    }
}
