.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sortbox {
    display: flex; 
    justify-content: space-between;
    width: 100%;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    font-size: small;
    background-color: rgb(231, 231, 231);
    border-radius: .8rem;
    height: 30px;
    width: 100%;
    margin: .5rem;
    color: rgb(22, 22, 22);
}
.links:hover {
    background-color: rgb(151, 151, 151);
}
